@import "_normalize";
$Lb: 'Lato-Bold';
$Ll: 'Lato-Light';
$Lr: 'Lato-Regular';
$Lsb: 'Lato-Semibold';
$RS: 'robotoslabbold';
$LN: 'Lato';
$RSN: 'Roboto Slab';


$normal: normal;
$italic: italic;
$bold: bold;
$semibold: 600;
$medium: 500;
$norm: 400;
$heavy: 700;
$black: 900;
$light: 300;

$dir:'../fonts/';
$bgcolor:rgba(5,39,20,0.5);
$btncolor:#e5ba04;
$wc:#fff;
$bc:#000;
$accentcolor:#1be9d8;
$ttl:34px;


@mixin font($fontname, $fweight, $fstyle, $fontfamily){
    @font-face {
                font-family: $fontfamily;
                src: url($dir+$fontname+'.ttf') format("truetype");
                font-weight: $fweight;
                font-style: $fstyle;
    }
}
@include font($Lb, $bold, $normal, $LN);
@include font($Ll, $light, $normal, $LN);
@include font($Lsb, $semibold, $normal, $LN);
@include font($RS, $normal, $normal, $RSN);
@include font($Lr, $normal, $normal, $LN);
@include font($Lr, $norm, $normal, $LN);
body{
    font-size: 16px;
    font-family: $LN, sans-serif;
    font-weight: 400;
    color: $bc;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.ttl{
    text-align: center;
    padding-top: 90px;
    h2{
        color: $bc;
        font-family: Lato;
        font-size: 34px;
        font-weight: 700;
        line-height: 40px;
        position: relative;
        display: inline-block;
        z-index: 1;
        &:after{
            content:"";
            position: absolute;
            left: -3px;
            right: -3px;
            background: $btncolor;
            height: 15px;
            bottom: 0;
            z-index: -1;
        }
    }
    h3{
        color: $bc;
        font-family: Lato;
        font-size: 22px;
        font-weight: 400;
        line-height: 21px;
    }
}
.btn, .btn-shade{
    text-align: center;
    button{
        color: $accentcolor;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        border: 2px solid $accentcolor;
        border-radius: 7px;
        min-width: 230px;
        width: 100%;
        height: 40px;
        background: none;
        position: relative;
        z-index: 1;
        &:before, &:after{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 100%;
            background: $accentcolor;
            z-index: -1;
            border-radius: 6px;
        }
        &:hover:before{
            right: 0;
            transition: all 0.1s ease-out;
        }
        &:hover:after{
            right: 0;
            background: rgba(5,39,20,0.8);
            transition: all 0.15s ease-out 0.13s;
            border-radius: 5px;
            
        }
        &:hover{
            color: $wc;
            border: none;
        }
    }
}
.btn-shade button{
    color: $bc;
    background: $accentcolor;
    height: 53px;
    width: 256px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    &:before, &:after{
            content: "";
            right: 100%;
            background: $wc;
            color: $accentcolor;
            border-radius: 5px;
        }
    &:hover:after{
            background: rgba(229,186,4,0.8);
        }
    &:hover{
            color: $bc;
            border: none;
        }
}
section{
    position: relative;
    width: 100%;
    &.one-scrn{
        min-height: 750px;
        background: url(../img/bg1.jpg) no-repeat;
        color: $wc;
        .flex{
            display: flex;
            -webkit-justify-content: space-between;
                    justify-content: space-between;
            padding-top: 10px;
        }
        header{
            min-height: 112px;
            width: 100%;
            background: $bgcolor;
            position: relative;
            z-index: 2;
            .logo{
                width: 375px;
                display: flex;
                -webkit-align-items: center;
                        align-items: center;
                &-img{
                    a{
                        img{
                            max-width: 130px;
                            height: auto;
                            
                        }
                    }
                }
                &-slogan{
                    margin-left: 22px;
                    p{
                        color: $wc;
                        font-family: Lato;
                        font-size: 27px;
                        font-weight: 700;
                        line-height: 32px;
                    }
                }
            }
        }
        .flex-wrap{
            max-width: 710px;
            width: 100%;
            display: flex;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-align-items: flex-end;
                    align-items: flex-end;
            -webkit-justify-content: center;
                    justify-content: center;
            .phone{
                display: flex;
                -webkit-align-items: center;
                        align-items: center;
                .ph{
                    a{
                        font-size: 18px;
                        font-weight: 400;
                        color: $wc;
                        img{
                            width: 24px;
                            height: 24px;
                        }
                        span{
                            font-size: 20px;
                            font-weight: bold;
                            line-height: 19px;
                        }
                    }
                }
                .callback{
                    margin-left: 45px;
                    .btn{
                        button{
                            
                        }
                    }
                }
            }
            nav{
                width: 100%;
                margin-top: 14px;
                ul{
                    width: 100%;
                    display: flex;
                    -webkit-justify-content: space-between;
                            justify-content: space-between;
                    li{
                        display: inline-block;
                        a{
                            color: $wc;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 19px;
                            text-decoration: none;
                            transition: all 0.2s ease-out;
                        }
                        &.active a, &:hover a{
                            position: relative;
                            z-index: 2;
                            color: $bc;
                            &:before{
                                content:"";
                                position: absolute;
                                background: $btncolor;
                                top: -10px;
                                bottom: -21px;
                                right: -20px;
                                left: -20px;
                                z-index: -1;
                            }
                        }
                    }
                }
            }
        }
        .banner{
            width: 100%;
            .flex{
                display: flex;
                -webkit-justify-content: space-between;
                        justify-content: space-between;
            }
            .desc{
                z-index: 1;
                display: flex;
                -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                        flex-direction: column;
                    -webkit-justify-content: space-between;
                            justify-content: space-between;
                .ttl-accent{
                    margin-top: 75px;
                    h1{
                        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
                        font-family: "Roboto Slab";
                        font-size: 46px;
                        font-weight: 700;
                        line-height: 54px;
                    }
                }
                .ttl-desc{
                    margin-top: 33px;
                    p{
                        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.13);
                        font-family: Lato;
                        font-size: 28px;
                        font-weight: 400;
                        line-height: 33px;
                    }
                }
                .one-screen{
                    margin-top: 85px;
                    text-align: left;
                    button{
                        max-width: 365px;
                        width: 100%;
                        height: 52px;
                    }
                }
            }
            .auto{
                position: absolute;
                bottom: 0;
                right: 10px;
                .img{
                    img{
                        max-width: 1130px;
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
    }
    &.two-scrn{
        background: url(../img/bg2.jpg);
        .services{
            .flex-wrap{
                margin-top: 60px;
                width: 100%;
                min-height: 650px;
                height: 100%;
                display: flex;
                -webkit-justify-content: space-between;
                        justify-content: space-between;
                align-content: space-around;
                -webkit-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
            }
            .item{
                max-width: 300px;
                width: 100%;
                text-align: center;
                margin-bottom: 40px;
                .img{
                    img{
                        
                    }
                }
                .srvc{
                    padding-top: 11px;
                }
                .desc{
                    margin-top: 29px;
                    p{
                        color: $bc;
                        font-family: Lato;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 19px;
                    }
                }
            }
        }
        .ttl-calcilator{
            padding-top: 35px;
        }
        .calculator{
            width: 100%;
            margin-top: 60px;
            padding-bottom: 90px;
            .ots{
                margin-top: 70px;
            }
            form .fl-wrapp{
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: space-between;
                .time{
                    margin-top: 0;
                }
                .what{
                    margin-top: 80px;
                }
            }
            .naprava, .naleva{
                max-width: 490px;
                width: 100%;
                .otstup{
                    margin-top: 26px;
                }
                .opisanie{
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 19px;
                    margin-top: 30px;
                    p{
                        padding: 3px 0;
                    }
                }
            }
            .radio_buttons .flex-wrap {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
            }
            .radio_buttons .button-calc {


            }
            .radio_buttons input {
                position: absolute;
                left: -9999px;
            }
            .radio_buttons label {
                text-align: center;
                display: block;
                margin: 0 0 0 -1px;
                padding: 10px 10px;
                border: 1px solid #BBBBBB;
                background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
                box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
                cursor: pointer;
                border-radius: 7px;
                margin-left: 25px;
                height: 40px;
                width: 147px;
            }
            .radio_buttons input:checked + label {
                background: white;
                box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2);
            }
            .radio_buttons .button-calc:first-child label {
                margin-left: 0;

            }
            .radio_buttons .button-calc:last-child label {

            }


            .wrapp{
                margin-top: 50px;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .select_main {

                display: inline-block;
                max-width: 340px;
                width: 100%;
                position: relative; 
                border-top: 1px solid #999a9a;
                border-bottom: 1px solid #fff;
                border-radius: 7px;
                background: #fff url(../img/select_arrow.png) no-repeat right;
            }
            select {
                max-width: 340px;
                width: 100%;
                height: 40px; 
                position: reative; 
                border: none; 
                cursor: pointer; 
                opacity: 0;
                filter: alpha(opacity=0);
            }
            .select_main p {
                width: 100%; 
                height: 100%; 
                position: absolute; 
                padding: 0 20px; 
                top: 5px; 
                color: #0a0a0a; 
                font-size: 14px; 
                line-height: 34px; 
                overflow: hidden;
            }

            .checkbox .boxes {
                  margin: auto;
                margin-top: 30px;

            }

                /*Checkboxes styles*/
            .checkbox input[type="checkbox"] { display: none; }

            .checkbox input[type="checkbox"] + label {
                  display: block;
                  position: relative;
                  padding-left: 55px;
                padding-top: 5px;
                  margin-bottom: 20px;
                  cursor: pointer;
                  -webkit-user-select: none;
                  -moz-user-select: none;
                  -ms-user-select: none;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                }

            .checkbox input[type="checkbox"] + label:last-child { margin-bottom: 0; }

            .checkbox input[type="checkbox"] + label:after {
                  content: '';
                  display: block;
                  width: 25px;
                    height: 25px;
                    border-radius: 4px;
                    border: 2px solid #858585;
                  position: absolute;
                  left: 0;
                  top: 0;
                  opacity: .6;
                  -webkit-transition: all .12s, border-color .08s;
                  transition: all .12s, border-color .08s;
                }

            .checkbox input[type="checkbox"]:checked + label:after {
                  width: 10px;
                  top: -5px;
                  left: 5px;
                  border-radius: 0;
                  opacity: 1;
                  border-top-color: transparent;
                  border-left-color: transparent;
                  -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
                }
            .put{
                margin-top: 80px;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                flex-direction: column;
                position: relative;
                input[type="text"]{
                    display: none;
                    background: none;
                    max-width: 120px;
                    width: 100%;
                    font-size: 18px;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    color: #a8aaab;
                    font-weight: 500;
                    margin-top: 20px;
                    border: 1px solid #a8aaab;
                    border-radius: 6px;
                    height: 30px;
                }
                .dal{
                    margin-top: 35px;
                    p{
                        margin-top: 18px;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 19px;
                    }
                }
                
            }
            .none{
                position: relative;
                .oplet{
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: rgba(255,255,255,0.5);
                    cursor: not-allowed;
                }
            }
            input.range[type="range"] {
                margin-top: 45px;
                -webkit-appearance: none;
                border-radius: 5px;
                background-color: #eaeaea;
                width: 100%;
                height: 10px;
            }
            input.range[type="range"]::-webkit-slider-thumb{
                -webkit-appearance:none;
                -moz-apperance:none;
                width:46px;
                height:46px;
                border-radius: 100%;
                background: $btncolor;
            }
            #final-rasch{
                display: none;
            }
            .final-rasch{
                display: flex;
                -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                        flex-direction: column;
                max-width: 550px;
                border-radius: 16px;
                background: $bgcolor;
                color: $wc;
                text-align: center;
                padding: 20px;
                margin: 30px auto;
                input{
                    height: 40px;
                    width: 100%;
                    padding: 0 20px;
                    background: #373e31;
                    border: 2px solid $accentcolor;
                    border-radius: 7px;
                    margin-bottom: 20px;
                    font-size: 16px;
                    font-family: Lato;
                    color: $wc;
                }
                #resultat-calc{
                    font-size: 24px;
                    padding: 20px;
                    color: $btncolor;
                    font-family: Roboto Slab;
                }
            }
        }
    }
    &.four-scrn{
        min-height: 750px;
        background: url(../img/bg4.jpg);
        .aboutus{
            width: 100%;
            border-radius: 15px;
            background-color: $bgcolor;
            min-height: 560px;
            margin-top: 25px;
            &-ttl{
                padding-top: 30px;
                h2{
                    color: $wc;
                }
            }
            .block-autos{
                padding: 30px 95px;
                .flex-wrap{
                    
                }
                .item{
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    align-items: center;
                    .img{
                        img{
                            
                        }
                    }
                    .desc{
                        p{
                            color: $wc;
                            font-family: Lato;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                        }
                    }
                    .box{
                        position: relative;
                        img{
                            
                        }
                        .var{
                            color: $wc;
                            font-family: Lato;
                            font-size: 16px;
                            font-weight: 400;
                            position: absolute;
                        }
                        .ed-1{
                            left: 23px;
                            bottom: 14px;
                            transform: rotate(28deg);
                        }
                        .ed-2{
                            bottom: 17px;
                            right: 33px;
                            transform: rotate(-36deg);
                        }
                        .ed-3{
                            right: -30px;
                            top: 27%;
                        }
                        .ed-4{
                            bottom: 30px;
                            right: 41px;
                            transform: rotate(-36deg);
                        }
                    }
                    .about{
                        max-width: 215px;
                        button{
                            
                        }
                    }
                    &:not(:first-child){
                        margin-top: 45px;
                    }
                }
            }
        }
    }
    &.five-scrn{
        background: url(../img/bg5.jpg);
        .whowe{
            .who{
                margin-top: 60px;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .item{
                    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
                    background-color: #b6e5cb;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    position: relative;
                    left: 50px;
                    max-width: 490px;
                    width: 100%;
                    margin-left: 75px;
                    .numb{
                        width: 109px;
                        height: 109px;
                        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
                        border: 5px solid #b6e5cb;
                        background-color: $wc;
                        border-radius: 100%;
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        left: -50px;
                        span{
                            color: #636363;
                            font-family: Lato;
                            font-size: 50px;
                            font-weight: 900;
                            line-height: 59px;
                        }
                    }
                    &-block{
                        height: 109px;
                        padding: 20px 100px;
                        .ttl-who{
                            h4{
                                font-family: Lato;
                                font-size: 22px;
                                font-weight: 400;
                                line-height: 26px;
                             }
                        }
                        .desc{
                            margin-top: 10px;
                            p{
                                font-family: Lato;
                                font-size: 16px;
                                font-weight: 300;
                                line-height: 19px;
                            }
                        }
                    }
                    &:nth-child(even){
                        right: 50px;
                        left: auto;
                        margin-left: 0;
                        margin-right: 75px;
                        .numb{
                            right: -50px;
                            left: auto;
                        }
                        .desc{
                            p{
                                text-align: right;
                            }
                        }
                    }
                }
                .bot{
                    background-color: #c6fffa;
                    .numb{
                        border: 5px solid #c6fffa;
                    }
                }
                .ots{
                    margin-top: 60px;
                }
                &-btn{
                    flex: 1;
                    margin-top: 60px;
                }
            }
        }
        .jobs{
            .job{
                padding-bottom: 100px;
                margin-top: 60px;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: space-between;
                .item{
                    text-align: center;
                    max-width: 400px;
                    width: 100%;
                    padding: 0 8px;
                    .img{
                        img{
                            
                        }
                    }
                    .ttl-job{
                        margin-top: 44px;
                        h3{
                            font-family: Lato;
                            font-size: 22px;
                            font-weight: 400;
                            line-height: 26px;
                        }
                    }
                    .desc{
                        margin-top: 20px;
                        p{
                            font-family: Lato;
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
    &.six-scrn{
        min-height: 700px;
        width: 100%;
        background: url(../img/bg6.jpg);
        .ttl-cont{
            padding-top: 40px;
            h2{
                color: $wc;
            }
        }
        .contacts{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            width: 100%;
            min-height: 500px;
            height: 100%;
            background: $bgcolor;
            border-radius: 16px;
            margin-top: 25px;
            .ttl-contacts{
                h3{
                    color: $wc;
                    font-family: Lato;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 26px;
                    text-align: center;
                }
            }
            .col-6{
                width: 50%;
                padding: 43px 80px;
                .desc{
                    margin-top: 40px;
                    .con-s{
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        .phone{
                            padding: 0 5px;
                            i{
                                padding-right: 10px;
                                img{
                                    
                                }
                            }
                            a{
                            vertical-align: bottom;    
                            color: $wc;
                            font-family: Lato;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 21px;
                            }
                        }
                        .envelope{
                            padding: 0 5px;
                            i{
                                padding-right: 10px;
                                img{
                                    
                                }
                            }
                            a{
                            vertical-align: bottom;    
                            color: $wc;
                            font-family: Lato;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 21px;
                            }
                        }
                    }
                    .map{
                        margin-top: 20px;
                        img{
                            max-width: 100%;
                            width: 100%;
                            height: auto;
                        }
                    }
                }
                form{
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    flex-direction: column;
                    margin-top: 40px;
                    justify-content: center;
                    input{
                        border: 1px solid $wc;
                        background-color: #373e31;
                        width: 100%;
                        height: 40px;
                        border-radius: 7px;
                        color: #a2a2a2;
                        font-family: Lato;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        padding: 9px 22px;
                        margin-bottom: 22px;
                    }
                    textarea{
                        border: 1px solid $wc;
                        background-color: #373e31;
                        width: 100%;
                        height: 130px;
                        border-radius: 7px;
                        color: #a2a2a2;
                        font-family: Lato;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        padding: 9px 22px;
                        margin-bottom: 22px;
                    }
                    .btn-cont{
                        
                        button{
                            max-width: 155px;
                        }
                    }
                }
            }
        }
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}
footer{
    min-height: 115px;
    .flex{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        .logo{
            img{
                
            }
        }
        .f-menu{
            nav{
                ul{
                    li{
                        display: inline-block;
                        list-style: none;
                        padding: 0 15px;
                        a{
                            font-weight: 500;
                            line-height: 19px;
                        }
                        &:hover a{
                            border-bottom: 2px solid $bc
                        }
                    }
                }
            }
        }
        .f-phone{
            a{
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                span{
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }
    .copyright{
        margin-bottom: 10px;
        p{
            text-align: center;
            font-size: 12px;
            font-weight: 300;
            line-height: 14px;
        }
    }
}

#btn-menu{
    display: none;
}






.mfp-bg {
  background: rgba(5, 39, 20, 0.98)!important;
  opacity: 1;
}

.modal-form {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  min-height: 350px;
  text-align: center;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.9);
  transition: all 3s ease-out;
  box-shadow: 0px 4px 9px 0px rgba(50, 50, 50, 0.21);
}
.modal-form h3 {
  font-family: "Lato";
  font-size: 40px;
  font-weight: normal;
  padding-top: 35px;
}
.modal-form ol {
  list-style-type: none;
  padding: 10px 40px;
}
.modal-form ol li {
  margin: 30px 0;
}
.modal-form ol li input {
  background: none;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  font-size: 18px;
  padding: 0 15px;
}
.modal-form .btn-form {
  display: flex;
  justify-content: center;
  margin-left: 0;
}

.scrollup {
  transition: all 0.3s ease-out;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  text-indent: -9999px;
  background: rgba(0, 0, 0, 0.6) url(../img/sprite.png) no-repeat 13px -1027px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  z-index: 999;
  display: flex;
  border-radius: 1px;
  justify-content: center;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.scrollup:hover {
  background: black url(../img/sprite.png) no-repeat 13px -1027px;
}


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
#contact_successfully{
    background: #fff;
    padding: 10px;
}






















